////////////////////////////////////////////////////////////////
/// Main Navigation
.logo{
    height: 3.5rem;
    margin-left: 3rem;
}

.main-nav {
    color: var(--color-grey-light-1);
}

.nav {
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    &__item {
        margin-right: 2rem;
    }

    &__link:hover,
    &__link:active {
        border-bottom: 1px solid var(--color-grey-light-1);
        color: var(--color-grey-dark-3);
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        color: var(--color-grey-light-3);
    }

}

////////////////////////////////////////////////////////////////
/// Section About Me
.heading-primary {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-primary-light);
    letter-spacing: .3rem;
    padding-bottom: 1.6rem;
    word-spacing: .4rem;

    &--centered {
        text-align: center;
        margin-bottom: 3.5rem;
        margin-bottom: 3rem;
        
        &::after {
            display: block;
            height: .2rem;
            background-color: var(--color-primary-light);
            content: " ";
            margin: 0 auto;
            margin-top: 2rem;
            width: 10rem;
        }
    }
}

.aboutMe{
    color:var(--color-grey-dark-1);
    font-weight: 400;
    &__summary{
        font-size: 2rem;
        padding-bottom: .8rem;
        letter-spacing: .15rem;
        word-spacing: .25rem;
    }

    &__description{
        font-size: 1.6rem;
        letter-spacing: .1rem;
        word-spacing: .12rem;
    }
}

.img {
    display: flex;
    justify-content: center;
    &__user {
    border-radius: 50%;
    z-index: 10;
    align-self: center;
    border: 5px solid var(--color-grey-light-1);
    transform: translate(40%, 0);
   
    }
    &__user--background {
        background-color: var(--color-primary-light);
        height: 30rem;
        width: 30rem;
        border-radius: 50%;

        transform: translate(-35%, 10%);
        z-index: 9;
    }
}

////////////////////////////////////////////////////////////////
/// Section Projects
.heading-secondary {
    font-size: 2.5rem;
}

.project-showcase {
    // background-color: #fff;
    // box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3.5rem;
    column-gap: 1.5rem;
    

    &__box {
        background-color: #fff;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    }
    &__header {
        padding: .5rem .7rem;
        background-color: var(--color-primary-light);
    }

     
    &__heading { 
        font-size: 2rem;
        color:#fff;
    }
    &__description {
        padding: 1rem 1.2rem;
        font-size: 1.6rem;
    }
    &__img {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
        &--one,
        &--two {
           width: 100%;
           height: auto
        }

        &--one {
            grid-column: 2 / 3;
        }

        &--two{
            align-self: flex-end;
            grid-column: 1 / 2 ;
            grid-row: 2 / 3;
        }

    }
}

////////////////////////////////////////////////////////////////
/// Section FAQ
.heading-tertiary {
    font-size: 1.8rem;
    padding: 1rem 1.2rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 700;
}
.card {
    border: 1px solid var(--color-primary-light);
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

    &__header {
        background-color: var(--color-primary-light);
        color: var(--color-grey-light-1);
    }

    &__details {
        font-size: 1.4rem;
        word-spacing: 1px;
        padding: .6rem .5rem;
    }
}

////////////////////////////////////////////////////////////////
/// Section Contact Form

.contact-form {

    border: 1px solid var(--color-primary-light-2);
    &__header {
        background-color: var(--color-primary-light-2)
    }

    &__heading {
        color: #fff;
        font-size: 2rem;
        padding: 1rem 0;
        text-align: center;
    }
}

label {
    font-size: 1.6rem;
    font-weight: 700;
}
input {
    padding: 0 .5rem;
    font-size: 1.4rem;
}