////////////////////////////////////////////////////////////////
/// Main Navigation
.logo{
    height: 3.5rem;
    margin-left: 3rem;
}

.main-nav {
    color: var(--color-grey-light-1);
}

.nav {
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    &__item {
        margin-right: 2rem;
    }

    &__item:hover,
    &__item:active {
        border-bottom: 1px solid var(--color-grey-light-1);
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        color: var(--color-grey-light-1);

    }

}