.container {
    max-width: 120rem;
    margin: 7rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.5);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary-dark);
    color: var(--color-grey-light-1);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-aboutMe {
    font-size: 1.2rem;
    background-color: var(--color-grey-light-5);
    border-bottom: 1px solid var(--color-grey-dark-3);
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    align-items: center;
    padding: 8rem 4rem 10rem 4rem;
}

.section-projects {
    font-size: 1.2rem;
    background-color: var(--color-grey-light-4);
    border-bottom: 1px solid var(--color-grey-dark-3);

    // display:grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    // grid-row-gap: 3rem;
    padding: 6rem 4rem;
    // align-items: center;
}

.section-faq {
    font-size: 1.2rem;
    background-color: var(--color-grey-light-2);
    padding: 6rem 4rem;
    border-bottom: 1px solid var(--color-grey-dark-4);
}

.card-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
}

.section-contactForm {
    padding: 6rem 6rem;
    background-color: var(--color-grey-light-5);
}

.contact-form {
    margin: 0 auto;
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-self: center;
    max-width: 70rem;
    max-height: 50rem;

    &__form {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(2, 1fr) 3fr 1fr;
        grid-row-gap: 20px;
        padding: 4rem 2rem;
    }
}

